.footer {
  margin-top: 10vmax;
  padding: 2vmax;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
}
.leftFooter {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}
.leftFooter > img {
  width: 60%;
  margin: 3%;
  cursor: pointer;
}
.leftFooter > h4 {
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > p {
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.midFooter {
  width: 60%;
  text-align: center;
}
.midFooter > img {
  width: 8vmax;
  height: 8vmax;
  background-color: aliceblue;
  border-radius: 50%;
}
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.midFooter > h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.midFooter > p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.rightFooter {
  display: flex;
  flex-direction: column;
}
.rightFooter > a {
  margin-top: 10%;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  cursor: pointer;
}
.rightFooter > a:hover {
  color: #eb4034;
}
.rightFooter > h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
